In [8]:
import pandas as pd 
import os

In [10]:


def split_dataset(dataset_path, target_folder, num_files):
    # Ensure the target folder exists
    os.makedirs(target_folder, exist_ok=True)
    
    # Load the dataset
    data = pd.read_csv(dataset_path)
    
    # Split the dataset into smaller chunks
    chunk_size = len(data) // num_files
    chunks = [data[i:i + chunk_size] for i in range(0, data.shape[0], chunk_size)]
    
    # Save each chunk to a new file in the target folder
    for i, chunk in enumerate(chunks):
        chunk.to_csv(f"{target_folder}/data_chunk_{i}.csv", index=False)

# Example usage
split_dataset('/home/sachin/DSP/car_price_prediction/data/car_details.csv', '/home/sachin/DSP/airflow-spike-master/input_data/raw-data', 1000)

In [15]:
df = pd.read_csv('/home/sachin/DSP/car_price_prediction/data/car_details.csv')
df

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,car_company_name
0,Maruti Swift Dzire VDI,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti
1,Skoda Rapid 1.5 TDI Ambition,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda
2,Honda City 2017-2020 EXi,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda
3,Hyundai i20 Sportz Diesel,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai
4,Maruti Swift VXI BSIII,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai
8124,Hyundai Verna CRDi SX,2007,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai
8125,Maruti Swift Dzire ZDi,2009,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti
8126,Tata Indigo CR4,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0,Indigo
8127,Tata Indigo CR4,2013,25000,Electric,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0,Tata

In [17]:
from datetime import datetime
df["timestamp"] = datetime.now()

In [18]:
df

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,car_company_name,timestamp
0,Maruti Swift Dzire VDI,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti,2024-05-17 14:08:01.871796
1,Skoda Rapid 1.5 TDI Ambition,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda,2024-05-17 14:08:01.871796
2,Honda City 2017-2020 EXi,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda,2024-05-17 14:08:01.871796
3,Hyundai i20 Sportz Diesel,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,2024-05-17 14:08:01.871796
4,Maruti Swift VXI BSIII,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti,2024-05-17 14:08:01.871796
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai,2024-05-17 14:08:01.871796
8124,Hyundai Verna CRDi SX,2007,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai,2024-05-17 14:08:01.871796
8125,Maruti Swift Dzire ZDi,2009,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti,2024-05-17 14:08:01.871796
8126,Tata Indigo CR4,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0,Indigo,2024-05-17 14:08:01.871796
8127,Tata Indigo CR4,2013,25000,Electric,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0,Tata,2024-05-17 14:08:01.871796

In [13]:
df["timestamp"] = df["timestamp"].apply(
            lambda x: x.strftime('%Y-%m-%dT%H:%M:%S'))

In [14]:
df

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,car_company_name,timestamp
0,Maruti Swift Dzire VDI,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti,2024-05-17T00:00:00
1,Skoda Rapid 1.5 TDI Ambition,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda,2024-05-17T00:00:00
2,Honda City 2017-2020 EXi,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda,2024-05-17T00:00:00
3,Hyundai i20 Sportz Diesel,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,2024-05-17T00:00:00
4,Maruti Swift VXI BSIII,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti,2024-05-17T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai,2024-05-17T00:00:00
8124,Hyundai Verna CRDi SX,2007,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai,2024-05-17T00:00:00
8125,Maruti Swift Dzire ZDi,2009,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti,2024-05-17T00:00:00
8126,Tata Indigo CR4,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0,Indigo,2024-05-17T00:00:00
8127,Tata Indigo CR4,2013,25000,Electric,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0,Tata,2024-05-17T00:00:00